/*
 * SPDX-FileCopyrightText: 2024 Renaissance Computing Institute. All rights reserved.
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 * SPDX-License-Identifier: LicenseRef-RENCI
 * SPDX-License-Identifier: MIT
 */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0a534e;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
